## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_file import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,77.49,overcast clouds,-23.1203,-134.9692,People ThankYou
1,3,San Cristobal,VE,78.98,broken clouds,7.7669,-72.2250,Posada Villaven C.A.
2,4,Cape Town,ZA,77.11,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,7,Bengkulu,ID,75.65,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,8,Ixtapa,MX,78.03,clear sky,20.7000,-105.2000,Hotel Plaza Providencia
5,18,Kapaa,US,77.11,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,20,Vaini,TO,79.81,light rain,-21.2000,-175.2000,Keleti Beach Resort
7,23,Bambous Virieux,MU,80.85,light rain,-20.3428,57.7575,Casa Tia Villa
8,24,Georgetown,MY,80.89,few clouds,5.4112,100.3354,Cititel Penang
9,26,Hithadhoo,MV,82.40,scattered clouds,-0.6000,73.0833,Scoop Guest House

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

         Lat       Lng
0   -23.1203 -134.9692
1     7.7669  -72.2250
2   -33.9258   18.4232
3    -3.8004  102.2655
4    20.7000 -105.2000
..       ...       ...
196  15.0000  -83.2333
197  -3.1022  -67.9397
198  11.6876  -84.4562
199  10.1483  -85.4520
200 -30.6733  -51.3958

[201 rows x 2 columns]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Sydney")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Sydney")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Hervey Bay")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Moranbah")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Mildura")] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
122,402,Sydney,AU,75.25,clear sky,-33.8679,151.2073,The Grace Sydney

In [57]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

trial = vacation_start.to_numpy()[0][[5,6]].
trial

array([-33.8679, 151.2073], dtype=object)

In [70]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(-30.0, 150.0), zoom_level=1.5)
directions_layer = gmaps.directions_layer(start, end,
                                         waypoints  =[stop1, stop2, stop3],
                                         travel_mode = "DRIVING")
fig.add_layer(directions_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,402,Sydney,AU,75.25,clear sky,-33.8679,151.2073,The Grace Sydney
1,539,Hervey Bay,AU,80.04,scattered clouds,-25.2986,152.8535,Shelly Bay Resort
2,83,Moranbah,AU,77.00,few clouds,-22.0016,148.0466,Direct Hotels - Monterey Moranbah
3,697,Mildura,AU,75.16,light rain,-34.2000,142.1500,Mercure Hotel Mildura

In [71]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
itinerary_locations = itinerary_df[["Lat", "Lng"]]

In [82]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-30.0, 150.0), zoom_level=3.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))